html,
body {
	height: 100%;
	/*position: relative;*/
	/*overflow-y: scroll;*/
	padding-top: 25px;
	padding-bottom: 20px;
}

.wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}

.wrap > .container {
	padding: 70px 15px 20px;
}

.footer {
	height: 60px;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	padding-top: 20px;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

.not-set {
	color: #c55;
	font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	padding-left: 5px;
}

a.asc:after {
	content: /*"\e113"*/ "\e151";
}

a.desc:after {
	content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
	content: "\e153";
}

.sort-numerical a.desc:after {
	content: "\e154";
}

.sort-ordinal a.asc:after {
	content: "\e155";
}

.sort-ordinal a.desc:after {
	content: "\e156";
}

.grid-view th {
	white-space: nowrap;
}

.hint-block {
	display: block;
	margin-top: 5px;
	color: #999;
}

.error-summary {
	color: #a94442;
	background: #fdf7f7;
	border-left: 3px solid #eed3d7;
	padding: 10px 20px;
	margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
	padding: 15px;
	border: none;
}

@media (max-width: 767px) {
	.nav li > form > button.logout {
		display: block;
		text-align: left;
		width: 100%;
		padding: 10px 15px;
	}
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
	text-decoration: none;
}

.nav > li > form > button.logout:focus {
	outline: none;
}

/** barra laterale */

#nav-left li > a {
	padding: 4px 20px;
	font-size: 13px;
	font-weight: 500;
	color: #767676;
}

#nav-left li.active > a {
	font-weight: 700;
	color: #563d7c;
	background-color: transparent;
	border-left: 2px solid #563d7c;
}

.jumbotron {
	background: #eee;
}

.affix {
	top: 70px;
}

/*.bs-docs-header {*/

/*	padding-top: 60px;*/
/*	padding-bottom: 60px;*/
/*	font-size: 24px;*/
/*	text-align: left;*/

/*}*/

/*.bs-docs-header {*/

/*	margin-bottom: 40px;*/
/*	font-size: 20px;*/

/*}*/

/*.bs-docs-header, .bs-docs-masthead {*/
/*	position: relative;*/
/*	padding: 30px 0;*/
/*	padding-top: 30px;*/
/*	padding-bottom: 30px;*/
/*	color: #cdbfe3;*/
/*	text-align: center;*/
/*	text-shadow: 0 1px 0 rgba(0, 0, 0, .1);*/
/*	background-color: #6f5499;*/
/*	background-image: -webkit-gradient(linear, left top, left bottom, from(#563d7c), to(#6f5499));*/
/*	background-image: -webkit-linear-gradient(top, #563d7c 0, #6f5499 100%);*/
/*	background-image: -o-linear-gradient(top, #563d7c 0, #6f5499 100%);*/
/*	background-image: linear-gradient(to bottom,*/
/*	#563d7c 0,*/
/*	#6f5499 100%);*/
/*	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#563d7c", endColorstr="#6F5499", GradientType=0);*/
/*	background-repeat: repeat-x;*/

/*}*/